.crt {
  color: #33ff33;
  background: #0a0a0a;
  position: relative;
  overflow: hidden;

}

.crt::after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: 50;
  background-image:
    linear-gradient(rgba(18, 16, 16, 0) 50%,
                    rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(90deg,
                    rgba(255, 255, 255, 0.03) 50%,
                    rgba(255, 255, 255, 0.01) 50%);
  background-size: 100% 4px, 24px 100%;
  pointer-events: none;
}

.crt-text {
  text-shadow: 0 0 10px #fff, 0 0 20px #0f0, 0 0 30px #58e600;
}

.crt-text::selection {
  background: #008F00;
  text-shadow: none;
}