.nixie-icon-container {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    
    background: rgba(6, 49, 110, 0.214);
    border-radius: 16px;
}

.nixie-icon {
    left: 1px;
    height: 20px;
    line-height: 24px;
    transition: all 0.3s linear;
}

.fuel-indicator {
    position: relative;
    min-width: 20px;
    min-height: 100%; 
}

.fuel-indicator-bar {
    position: absolute;
    min-height: 10px;
    content: '';
    background-color: var(--color-mauve-600);
}

.fuel-indicator-bar.lit {
    background-color: var(--color-green-500);
}

.details-element:hover::after {
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff4;
}