.text-neon-blue { color: #aaf; text-shadow: 0 0 6px #fff, 0 0 20px #00cfff, 0 0 60px #00cfff; }
.text-neon-pink { color: #fff; text-shadow: 0 0 6px #fff, 0 0 20px #ff6fb0, 0 0 60px #ff6fb0; }
.text-neon-green { color: #afa; text-shadow: 0 0 6px #fff, 0 0 20px #39ff14, 0 0 60px #39ff14; }
.text-neon-white { color: #fff; text-shadow: 0 0 6px #fff, 0 0 20px #ffffff, 0 0 60px #ffffff; }
.text-neon-red { color: #faa; text-shadow: 0 0 6px #fff, 0 0 20px #ff2244, 0 0 60px #ff2244; }
.text-neon-yellow { color: #ffa; text-shadow: 0 0 6px #fff, 0 0 20px #ffff00, 0 0 60px #ffff00; }
.text-unlit-neon { color: #333; text-shadow: 0 0 6px #333, 0 0 20px #333, 0 0 60px #333; }